.player_background{
    position: fixed;
    left: 0;
    bottom: 0;
    background: #2a2a35;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 50px;
    padding: 0.5rem;
    color: white;
}

.play_back_button{
    display: flex;
    width: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.play_back_button i{
   font-size: 1.5rem;
   cursor: pointer;
}

.audio_1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
}

  .volume{
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .volume i{
      font-size: 16px;
      margin-top: 10px;
      margin-right: 10px; 
      cursor: pointer;
  }
  

  input[type="range"]{
    overflow: hidden;
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    background-color:white;
    outline: none;
    opacity: 0.7;
    margin-top: 0.5rem;
    -webkit-transition: .2s;
    transition: opacity .2s;
 }


 input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
  background:rgb(106, 113, 121);
  box-shadow: -100rem 0 0 100rem #43e5f7;
}

@media(max-width:45rem){
  .mob_player_background{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2a2a35;
    width: 100%;
    height: 70px;
    padding: 5px;
    color: white;
}
   .mob_audio_duration{
     margin-top: 5px;
     height: 15px;
     width: 90%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
   }

   .mob_play_back_button{
     width: 90%;
     height: 20px;
   }

   .mob_play_back_button{
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
  }

  .mob_play_back_button i{
    font-size: 2rem;
    cursor: pointer;
  }
}



